In [3]:
import pandas as pd

In [ ]:
# Reading the file.
df = pd.read_csv("my_file (1).csv")

# Removing unneccassary columns.
def remove_unnecessary_columns(df):
    df = df.drop(columns=["Peak","All Time Peak"])
    return df


# Removing the non-numeric values of columns.
def remove_non_numeric_values(df):
    df["Actual\xa0gross"] = df["Actual\xa0gross"].str.replace(r"\[[a-zA-Z]+\]$", "", regex=True)
    df["Tour title"] = df["Tour title"].str.replace(r'\(\[.*?\]\)', '', regex=True).str.strip()
    df["Tour title"] = df["Tour title"].str.replace('[^a-zA-Z0-9]', '', regex=True)
    return df
# Removing the brackets from the column "Ref.".
def remove_brackets(df):
    df["Ref."] = df["Ref."].str.strip('[]')
    df["Ref."] = df["Ref."].str.replace(r'[\[\]]'," ", regex=True)
    return df
# Removing non-numeric characters (to keep only numbers)
def remove_non_numeric_characters(df):
    df["Ref."] = df["Ref."].str.replace('[^0-9]',' ', regex=True)
    return df
# Filling empty spaces with estimated values.
def fill_empty_spaces(df):
    df["Ref."] = pd.to_numeric(df["Ref."], errors='coerce')
    df["Ref."] = df["Ref."].interpolate(method='linear')
    df["Ref."] = df["Ref."].astype('Int64')
    return df

df = remove_unnecessary_columns(df)            
df = remove_non_numeric_values(df)
df = remove_brackets(df)
df = remove_non_numeric_characters(df)
df = fill_empty_spaces(df)

df.to_csv("cleaned_my_file (1).csv")

,Rank,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,"$780,000,000","$780,000,000",Taylor Swift,TheErasTour,2023–2024,56,"$13,928,571",1
1,2,"$579,800,000","$579,800,000",Beyoncé,RenaissanceWorldTour,2023,56,"$10,353,571",3
2,3,"$411,000,000","$560,622,615",Madonna,StickySweetTour4a,2008–2009,85,"$4,835,294",6
3,4,"$397,300,000","$454,751,555",Pink,BeautifulTraumaWorldTour,2018–2019,156,"$2,546,795",7
4,5,"$345,675,146","$402,844,849",Taylor Swift,ReputationStadiumTour,2018,53,"$6,522,173",8
5,6,"$305,158,363","$388,978,496",Madonna,TheMDNATour,2012,88,"$3,467,709",9
6,7,"$280,000,000","$381,932,682",Celine Dion,TakingChancesWorldTour,2008–2009,131,"$2,137,405",11
7,7,"$257,600,000","$257,600,000",Pink,SummerCarnival,2023–2024,41,"$6,282,927",12
8,9,"$256,084,556","$312,258,401",Beyoncé,TheFormationWorldTour,2016,49,"$5,226,215",13
9,10,"$250,400,000","$309,141,878",Taylor Swift,The1989WorldTour,2015,85,"$2,945,882",14
10,11,"$229,100,000","$283,202,896",Beyoncé,TheMrsCarterShowWorldTour,2013–2014,132,"$1,735,606",16
11,12,"$227,400,000","$295,301,479",Lady Gaga,TheMonsterBallTour,2009–2011,203,"$1,118,227",18
12,13,"$204,000,000","$251,856,802",Katy Perry,PrismaticWorldTour,2014–2015,151,"$1,350,993",19
13,14,"$200,000,000","$299,676,265",Cher,LivingProofTheFarewellTour21a,2002–2005,325,"$615,385",20
14,15,"$194,000,000","$281,617,035",Madonna,ConfessionsTour,2006,60,"$3,233,333",5
15,16,"$184,000,000","$227,452,347",Pink,TheTruthAboutLoveTour,2013–2014,142,"$1,295,775",22
16,17,"$170,000,000","$213,568,571",Lady Gaga,BornThisWayBall,2012–2013,98,"$1,734,694",13
17,18,"$169,800,000","$207,046,755",Madonna,RebelHeartTour,2015–2016,82,"$2,070,732",4
18,19,"$167,700,000","$204,486,106",Adele,AdeleLive2016,2016–2017,121,"$1,385,950",25
19,20,"$150,000,000","$185,423,109",Taylor Swift,TheRedTour,2013–2014,86,"$1,744,186",26