In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv('global_freelancers_raw.csv')
df.columns = df.columns.str.capitalize()

# Standardizing 'Gender' Column.
df["Gender"] = df["Gender"].replace(['f','F','female','FEMALE'],["Female","Female","Female","Female"])
df["Gender"] = df["Gender"].replace(['m','M','male','MALE'],["Male","Male","Male","Male"])

# Dropping rows with missing values in specific columns.
df = df.dropna(subset=['Years_of_experience', 'Hourly_rate (usd)'], how='all')
df = df.dropna(subset=['Rating', 'Hourly_rate (usd)'], how='all')
df = df.dropna(subset=['Client_satisfaction', 'Hourly_rate (usd)'], how='all')
df = df.dropna(subset=['Rating', 'Is_active'], how='all')
df = df.dropna(subset=['Rating', 'Client_satisfaction'], how='all')

# Standardizing 'Hourly_rate (usd)' Column.
df["Hourly_rate (usd)"] = df["Hourly_rate (usd)"].str.replace('USD', '').str.strip()
df["Hourly_rate (usd)"] = df["Hourly_rate (usd)"].str.replace('$', '').str.strip()

# Cleaning 'Is_active' Column.
df["Is_active"] = df["Is_active"].replace(['yes', 'Yes', 'YES','1',1,'y','Y','true','True'], ['Yes','Yes','Yes','Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes'])
df["Is_active"] = df["Is_active"].replace(['no', 'No', 'NO', '0', 0, 'n', 'N','false','False'], ['No','No','No', 'No', 'No', 'No', 'No', 'No', 'No'])

df['Client_satisfaction'] = df['Client_satisfaction'].apply(lambda x :x if pd.isna(x) or x.endswith('%') else x + '%')

# Saving the cleaned DataFrame to a new CSV file.
df.to_csv('global_freelancers_cleaned.csv', index=False)

,Freelancer_id,Name,Gender,Age,Country,Language,Primary_skill,Years_of_experience,Hourly_rate (usd),Rating,Is_active,Client_satisfaction
1,FL250002,Vanessa Garcia,Female,52.0,Australia,English,Mobile Apps,34.0,100,3.3,Yes,84%
2,FL250003,Juan Nelson,Male,53.0,Germany,German,Graphic Design,31.0,50,0.0,No,71%
3,FL250004,Amanda Spencer,Female,38.0,Australia,English,Web Development,4.0,40,1.5,No,90%
4,FL250005,Lynn Curtis DDS,Female,53.0,Germany,German,Web Development,27.0,30,4.8,No,83%
5,FL250006,Lisa Johnson,Female,59.0,Netherlands,Dutch,AI,14.0,30,2.4,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
995,FL250996,Albert Wilcox,Male,56.0,Turkey,Turkish,DevOps,13.0,100,0.0,No,68%
996,FL250997,Cheryl Norris,Female,26.0,Germany,German,Blockchain Development,6.0,40,2.8,No,82%
997,FL250998,Kathy Watkins,Female,37.0,Japan,Japanese,Data Analysis,15.0,75,NaN,No,94%
998,FL250999,John Obrien,Male,46.0,Russia,Russian,Machine Learning,22.0,100,2.8,Yes,97%
999,FL251000,Dawn Green,Female,36.0,Mexico,Spanish,UI/UX Design,18.0,20,1.7,Yes,72%